
@import "style.less";


.rLineContainer {
	//background-color: #ffc;
	margin-bottom:9px;
}

.rContextContainer {
	//background-color: #fcf;
	margin-bottom:9px;	
}

#recipeContainer {
	//border:1px dashed red;
}

.rContextContainer {
	position: relative;
}

.rContextDelete {
	position: absolute;
	right:0;
	top:0;
}

#inputFeedback {
	margin-top:36px;
	font-family: Menlo, mono;
	font-size: 11px;
}