
@import "style.less";


.rLineContainer {
	//background-color: #ffc;
	margin-bottom:9px;
}

.rLineControls {
	text-align:right;
}

.rContextContainer {
	//background-color: #fcf;
	margin-bottom:9px;	
}

#recipeContainer {
	//border:1px dashed red;
}

.rContextContainer {
	position: relative;
	background-color:#eee;
	border-radius:9px;
	padding: 18px;
}

.rContextContainer.focused {
	//border: 2px solid #ccc;
	box-shadow: inset 0 0 5px #888;
}

.rContextContainer h4 {
	margin-top:0;
}

#addContexts {
	position: relative;
	background-color:#eee;
	border-radius:9px;
	padding: 18px;
}

.rContextDelete {
	position: absolute;
	right:9px;
	top:9px;
}

#inputFeedback {
	margin-top:36px;
	font-family: Menlo, mono;
	font-size: 11px;
}

#rAssembly {
	padding: 9px 0 18px 0;
	margin: 9px 0 36px 0;
}

// display style

.context {
	
}

.component {
	padding-left: 18px;
}

.timestamp {
	font-size: small;
	color: #888;
}

.flavor-size-0 {
	font-size: 95%;
}

.flavor-size-1 {
	font-size: 125%;
}

.flavor-size-2 {
	font-size: 150%;
}

.flavor-size-3 {
	font-size: 170%;
}

.flavor-size-4 {
	font-size: 225%;
}
